---
---

/* Website colors */
$hopsuisse-red: #bb1624;
$hopsuisse-light-gray: #f1f1f1;
$hopsuisse-gray: #e1e1e1;
$hopsuisse-medium-gray: #aeaeae;
$hopsuisse-dark-gray: #666666;

/* Global style */
.site-header {
  border-top: 5px solid $hopsuisse-red;
}
a, a:visited {
  color: $hopsuisse-red;
}

/* Home style */
.home {
  text-align: center;
  font-size: x-large;
}
.home h1 {
  color: $hopsuisse-dark-gray;
}
.home a {
  color: $hopsuisse-red;
}
.home-nav {
  display: inline-block;
  background-color: $hopsuisse-light-gray;
  min-height: 40px;
  width: 95%;
  margin-top: 10px;
  padding: 8px;
  border-radius: 4px;
}
.home-nav img {
  opacity: 0.5;
}
.home-nav:hover {
  background-color: $hopsuisse-gray;
  text-decoration: none;
}

/* Autocomplete style */
#randomlink {
  cursor: pointer;
}
.autocomplete-suggestions {
  border: 1px solid $hopsuisse-gray;
  background: #fff;
  cursor: default;
  overflow: auto;
}
.autocomplete-suggestion {
  padding: 10px 5px;
  font-size: 1.2em;
  white-space: nowrap;
  overflow: hidden;
}
.autocomplete-selected {
  background: $hopsuisse-light-gray;
}
.autocomplete-suggestions strong {
  font-weight: normal;
  color: $hopsuisse-red;
}
#searchfield {
  margin: 0;
  margin-bottom: 40px;
  text-align: center;
}
#searchfield form {
  width: 100%;
  display: inline-block;
  padding: 0;
  margin: 0;
  padding: 5px;
  border-radius: 3px;
  margin: 5px 0 0 0;
}
#searchfield form .biginput {
  width: 90%;
  height: 40px;
  padding: 0 10px 0 10px;
  background-color: #fff;
  border: 1px solid #c8c8c8;
  border-radius: 3px;
  color: $hopsuisse-medium-gray;
  font-weight:normal;
  font-size: 1.5em;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#searchfield form .biginput:focus {
  color: #858585;
}

/* Charts and outputs style */
#outputbox div {
  margin-top: 20px;
}

#globaldesc .text {
  display: inline-block;
  vertical-align: top;
  width: 35%;
}
div#map {
  display: inline-block;
  width: 65%;
  height: 250px;
}
#weather {
  display: inline-block;
  vertical-align: top;
  width: 40%;
}
#gender {
  display: inline-block;
  width: 50%;
  height: 250px;
}
select#date, select#distance, select#perf, select#race, select#race-42km,
select#race-21km, select#race-10km {
  width: 20%;
  height: 30px;
  padding: 6px;
  padding-left: 10px;
  margin: 10px;
  margin-left: 0;
  font-size: medium;
  font-family: 'Inconsolata', monospace;
  color: $hopsuisse-dark-gray;
  background: $hopsuisse-light-gray url('https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_down_48px-128.png') no-repeat;
  background-size: 20px;
  background-position:  right 10px center;
  border:none;
  outline:none;
  display: inline-block;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
}
select#date, select#distance, select#perf {
  width: 20%;
}
select#race, select#race-42km, select#race-21km, select#race-10km {
  width: 45%;
}
.bigwi {
  width: 100%;
  padding-top: 20px;
  text-align: center;
  font-size: 80px;
  color: #d1d1d1;
}

.c3-grid .c3-ygrid {
  stroke: #d7d7d7;
  stroke-width: 2px;
  stroke-dasharray: none;
}

path.c3-shape.c3-line.c3-line-count {
  stroke-width: 3px;
}

g.tick {
  font-size: small;
}

#participation, #weather {
  padding-top: 1px;
  padding-left: 10px;
  padding-right: 20px;
  background-color: $hopsuisse-light-gray;
}
#participation .chart .c3-axis-x .tick line {
  stroke: #d7d7d7;
  stroke-width: 2px;
}
#participation .chart .c3-axis-x .domain,
#participation .chart .c3-axis-y .domain,
#participation .chart .c3-axis-y .tick line {
  opacity: 0;
}

#details {
  margin-top: 50px;
}

#gender {
  padding-top: 1px;
  padding-left: 10px;
  text-align: center;
}

/* Tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 2px solid $hopsuisse-medium-gray;
  width: 100%;
}
th {
  border: 1px solid $hopsuisse-medium-gray;
}
td {
  border: 1px solid $hopsuisse-medium-gray;
}

/* Loader */
#se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/CHflag.gif) center no-repeat #fff;
}
